/*Style the header*/
h1 {
font-size: 100%;
color: Black;
letter-spacing: 3px;

text-align: center;
}

p {
font-size: 0.875em;
color: Black;
letter-spacing: 1px;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: gray;
}
/*test layout*/
.item1 { grid-area: header; }
.item2 { grid-area: left; }
.item3 { grid-area: center; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left center center right right'
    'left left center center footer footer '
    'footer footer footer footer footer footer ';
  grid-gap: 8px;
  background-color: white;
  padding: 8px;
}
.grid-container > div {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.button {
    background-color: #808080; /* gray */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA; color: black;} /* Blue */
.button3 {background-color: #f44336; color: black;} /* Red */
.button4 {background-color: #808080; color: black;} /* Gray */
.button5 {background-color: #555555; color: black;} /* Black */
.button6 {background-color: #c9b5b6; color: black;} /* Skin */
